In [ ]:
## Basics
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

## Sklearn Packages
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import plot_tree, DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay

from sklearn.preprocessing import OneHotEncoder

**Data Preprocessing**

In [26]:
# ===== get the columns from the information .txt file ======
with open("00_dataset/adult.names", "r") as file:
    contents = file.read()

filtered_content = contents[-1375:].split('\n')
vars = []
for var in filtered_content:
    if var != '':
        x = var.split(':')[0]
        vars.append(x)
vars = vars + ['target']

# ===== import training and testing datasets ======
params_d = {
    'names': vars,
    'header': None,
    'na_values': ' ?',
    'skipinitialspace': True
}

data_train = pd.read_csv('00_dataset/adult.data', **params_d).replace('?', np.nan)
data_test = pd.read_csv('00_dataset/adult.test', skiprows=1, **params_d).replace('?', np.nan)

print(f'Training Data Dimensions: {data_train.shape}\nTesting Data Dimensions: {data_test.shape}')

Training Data Dimensions: (32561, 15)
Testing Data Dimensions: (16281, 15)

In [ ]:
data_train['set'] = 'train'
data_test['set'] = 'test'
full_data = pd.concat([data_train, data_test])
full_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target,set
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,train
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,train
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,train
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,train
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.,test
16277,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.,test
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.,test
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.,test
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.,test

In [ ]:
# one-hot encode